.keyword {
    -fx-fill: #A648FF;
}
.comment {
	-fx-fill: #969696;
}
.string {
	-fx-fill: #F89722;
}
.number {
	-fx-fill: #8DB8C7;
}
.node-function {
	-fx-fill: #1899C7;
}
.keyframes-extractor {
	-fx-fill: #DF5452;
    -fx-font-weight: bold;
}
.interpolation {
 	-fx-fill: #cfc041;
 }