.root {
    -fx-base: #2F2F2F;
    -fx-background: -fx-base;
    -fx-accent: #CFC539;

    -fx-color: derive(-fx-base, 10%);

    -fx-control-inner-background: derive(-fx-base, 5%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2%);

    -fx-light-text-color: #CCCCCC;
    -fx-mid-text-color: #505050;
    -fx-dark-text-color: #050505;
    -fx-focus-color: -fx-accent;
}

/* Button */
.button {
    -fx-background-color: -fx-base;
}
.button:hover,
.button:focused {
    -fx-background-color: derive(-fx-base, 20%);
}
.button:pressed {
    -fx-background-color: derive(-fx-base, 30%);
}

/* Icons */
.fa-icon {
    -fx-fill: #BBB;
}
.fa-icon:hover,
.fa-icon:focused,
.button:hover .fa-icon,
.button:focused .fa-icon,
.button:pressed .fa-icon {
    -fx-fill: #DEF262;
}

/* Menu, Toolbar */
.menu-bar,
.tool-bar {
    -fx-background-color: -fx-base;
}
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: #FFFFFF;
}
.menu-item:focused {
    -fx-background-color: #4E5052;
}
.menu-item:focused > .label {
    -fx-text-fill: -fx-light-text-color;
}

/* Scroll-bar */
.scroll-bar > .thumb {
    -fx-color: derive(-fx-accent, -50%);
}
.scroll-bar > .thumb:hover,
.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover {
    -fx-color: -fx-accent;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: derive(-fx-accent, -20%);
}
